body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f4f6;
    background-image: url(bejelentkezo_hatter.jpg);
    background-size: cover;
    background-position: center;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 1.5rem;
    color: #333;
}

.input-field {
    margin-bottom: 1rem;
    width: 100%;
}

.input-field input {
    width: 100%;
    padding: 0.8rem;
    padding-right: 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 1rem;
}

.login-button {
    display: inline-block;
    background: #007bff;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.login-button:hover {
    background: #0056b3;
}

.forgot-password {
    color: #0056b3;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-top: 1rem;
    font-size: 0.9rem;
    text-align: center;
}